$color-primary: #ffe600;
$color-background: #eeeeee;
$color-light-grey: #d1d1d1;
$color-grey: #b2b2b2;
$color-grey-dark: #a6a6a6;
$color-black: #333333;
$color-white: white;
$color-blue-light: #3483fa;
