body {
    background-color: $color-background;
}

html, body {
    height: 100vh;
}

::placeholder {
  color: $color-light-grey;
}

.container{
  margin: 0 14%;
}

p{
  margin: 0;
}

.img__loading {
  display: flex;
  justify-content: center;
}

@media(min-width: 360px) and (max-width: 640px){
 p{
   font-size: 14px;
 }
}
