.error__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__container__img--404{
  height: 27rem;
  border-radius: 5px;
}

.error__container__img--global{

}

.error__container__img--empty{

}
