input[type="text"]{
  padding: 0 0 0 10px;
  color: $color-black;
  border-radius: 5px;
}

input[type="text"]:focus {
  padding: 0 0 0 10px;
  color: $color-black;
  border-radius: 5px;
  outline: none;
  border: none;
}

input[type="text"]:focus:hover {
  padding: 0 0 0 10px;
  color: $color-black;
  border-radius: 5px;
  outline: none;
  border: none;
}

