.container__item {
  background-color: $color-white;
  height: 130px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid $color-light-grey;
  transition: box-shadow 0.3s;
  margin-bottom: 10px;

  &:hover {
    background-color: $color-white;
    height: 130px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: 1px solid $color-light-grey;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    cursor: pointer;
  }
}

.item__image {
  border-radius: 5px;
  height: 110px;
  width: 110px;
  padding-right: 10px;
}

.container__item__texts {
  display: flex;
  flex-direction: column;
  width: 100%;
}


@media(max-width: 360px) {
  .container__item__texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
  }
}

.container__items__texts__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__price {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-black;
}

.item__location {
  color: $color-light-grey;
  margin-top: 10px;
  margin-right: 10px;
}

.item__img__shipping{
  margin-left: 5px;
}
