.navbar {
  background-color: $color-primary;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 14%;
}

.navbar__img{
  margin-right: 25px;
}