.navbar {
  background-color: $color-primary;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__container{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}